{% extends "base.html" %}
{% load static %}
{% block content %}
<div>


<img src= "{% static "media/8476754187_1fa36817fd_o.jpg" %}" alt="no pic" style="width:518px;height:388px;margin: 20px">
<img src= "{% static "media/9CD4451F-7277-4281-860C-6E07F867F02F.jpg" %}" alt="no pic" style="width:518px;height:388px;">
<img src= "{% static "media/george2.jpg" %}" alt="no pic" style="width:518px;height:388px;margin: 20px">
<img src= "{% static "media/P9180422.jpg" %}" alt="no pic" style="width:518px;height:388px;">
<img src= "{% static "media/P7240647.jpg" %}" alt="no pic" style="width:518px;height:388px;">
</div>



{% endblock %}
