<!-- 
                    </div>
                </div>
                <div class="article grid_4">
                    <p>Beauty</p>
                    <img src="{% static "media/P2060261.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                </div>
                <div class="article grid_4">
                    <p>Kids</p>
                    <img src="{% static 'media/P8290159.jpg' %}" alt="no pic" style="width:129.5px;height:97px;">
                </div>
                <div class="article grid_4">
                    <p>Portraits</p>
                    <img src="{% static "media/P9180422.jpg" %}" alt="no pic" style="width:200px;height:129.3px;">
                </div>
                <div class="article grid_4">
                    <p>Theater and Performance</p>
                    <img src="{% static "media/P1220690.jpg" %}" alt="no pic" style="width:200px;height:129.3px;">
                </div>
                <div class="article grid_4">
                    <p>Food</p>
                    <img src="{% static "media/P6211147.jpg" %}" alt="no pic" style="width:200px;height:129.3px;">
                </div>
                <div id="footer" class="grid_12">
                    <p>&copy; Copyright 2020</p>
                </div> -->