<!DOCTYPE html>

{% load static %}

<html>

<head>

</head>

<body>
    Erie

    <p><em>A ditch. They weren't wrong. Nothing like it was ever achieved. And I was in that ditch from the
            beginning.</p></em>
    <p>It was only 4 feet deep and that was the wonder amongst most of us. It could carry 30 tons in 4 feet of
        water. </p>
    <br>Leaving my family behind was the hardest but the work was good, dangerous for sure, back then we had
    "black powder"
    dynamite a much more controlled and powerful explosion wasn't invented yet.
    <p>A movement. </p>
    <br>
    <p>For a Sunday the room was unusually empty. </p>



    </div>

    books
    </div>
</body>

</html>