body{
	font-family:"Arial",sans-serif;
	font-size:14px;
	color:#fff;
	background:rgb(168, 157, 157);
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
}
.container1{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner1{
	width:388px;
	height:518px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner1 img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner1 img.active1{
	display:inline-block;
}

.prev1,.next1{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev1{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next1{
	position:relative;
	margin-left:-45px;
	z-index:100;
}




.container2{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner2{
	width:388px;
	height:518px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner2 img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner2 img.active2{
	display:inline-block;
}

.prev2,.next2{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev2{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next2{
	position:relative;
	margin-left:-45px;
	z-index:100;
}


.container3{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner3{
	width:388px;
	height:518px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner3 img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner3 img.active3{
	display:inline-block;
}

.prev3,.next3{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev3{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next3{
	position:relative;
	margin-left:-45px;
	z-index:100;
}






.container4{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner4{
	width:388px;
	height:518px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner4 img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner4 img.active4{
	display:inline-block;
}

.prev4,.next4{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev4{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next4{
	position:relative;
	margin-left:-45px;
	z-index:100;
}
