body{
	font-family:"Arial",sans-serif;
	font-size:14px;
	color:#fff;
	background:rgb(204, 23, 23);
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
}

.container1{
    width:500px;
    height:588px;
	margin:10px auto;
	margin-left:50px;
	float: left;
	overflow:hidden;
}

.container2{
    width:300px;
    height:588px;
	margin:10px auto;
	margin-right:50px;
	overflow:hidden;
}
.container3{
    width:300px;
    height:588px;
	margin:10px auto;
	margin-right:50px;
	overflow:hidden;
}
.container4{
    width:300px;
    height:588px;
	margin:10px auto;
	margin-right:50px;
	overflow:hidden;
}
.container5{
    width:300px;
    height:588px;
	margin:10px auto;
	margin-right:50px;
	overflow:hidden;
}

.container6{
    width:300px;
    height:588px;
	margin:10px auto;
	margin-right:50px;
	overflow:hidden;

}


.slider-inner1{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:1px;
	border:#666 solid 1px;
}

.slider-inner2{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:right;
	padding:1px;
	border:#666 solid 1px;
}
.slider-inner3{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:right;
	padding:1px;
	border:#666 solid 1px;
}
.slider-inner4{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:right;
	padding:1px;
	border:#666 solid 1px;
}
.slider-inner5{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:right;
	padding:1px;
	border:#666 solid 1px;
}
.slider-inner6{
	width:318px;
	height:588px;
	position:relative;
	overflow:hidden;
	float:right;
	padding:1px;
	border:#666 solid 1px;
}
.slider-inner img{
	display:none;
	width:318px;
	height:588px;
}

.slider-inner img.active{
	display:inline-block;
}

.slider-inner2 img{
	display:none;
	width:318px;
	height:588px;
}

.slider-inner2 img.active2{
	display:inline-block;
}
.slider-inner3 img{
	display:none;
	width:318px;
	height:588px;
}

.slider-inner3 img.active3{
	display:inline-block;
}
.slider-inner4 img{
	display:none;
	width:318px;
	height:588px;
}

.slider-inner4 img.active4{
	display:inline-block;
}

.slider-inner5 img{
	display:none;
	width:318px;
	height:588px;
}

.slider-inner5 img.active5{
	display:inline-block;
}

.slider-inner6 img.active6{
	display:inline-block;
}
.slider-inner6 img{
	display:none;
	width:318px;
	height:588px;
}

.prev,.next{
	float:left;
	margin-top:50px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}

.prev2,.next2{
	float:right;
	margin-top:50px;
	cursor: pointer;
}

.prev2{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next2{
	position:relative;
	margin-right:100px;
	z-index:100;
}
.prev3,.next3{
	float:right;
	margin-top:50px;
	cursor: pointer;
}

.prev3{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next3{
	position:relative;
	margin-right:100px;
	z-index:100;
}
.prev4,.next4{
	float:right;
	margin-top:50px;
	cursor: pointer;
}

.prev4{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next4{
	position:relative;
	margin-right:100px;
	z-index:100;
}
.prev5,.next5{
	float:right;
	margin-top:50px;
	cursor: pointer;
}

.prev5{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next5{
	position:relative;
	margin-right:100px;
	z-index:100;
}
.prev6, .next6{
	float:right;
	margin-top:50px;
	cursor: pointer;
}

.prev6{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next6{
	position:relative;
	margin-right:100px;
	z-index:100;
}