{% extends "base.html" %}
{% load static %}




{% block content %}

<table>
    <tr>
        <td>
            <div class="container1">
                <div class="slider-outer1">
                    <img src="{% static "media/arrow-left.png" %}" class="prev1" alt="prev">
                    <div class="slider-inner1">
                        <img src="{% static "media/P6070369.jpg" %}" class="active1" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next1" alt="next">
                </div>
                hhhhhh
            </div>
        </td>
        <td>
            <div class="container2">
                <div class="slider-outer2">
                    <img src="{% static "media/arrow-left.png" %}" class="prev2" alt="prev">
                    <div class="slider-inner2">
                        <img src="{% static "media/P6020112.jpg" %}" class="active2" alt="no pic"
                            style="width:518px;height:388px;margin:15px">
                        <img src="{% static "media/P5242146.jpg" %}" alt="no pic" style="width:518px;height:388px;">
                        <img src="{% static "media/P3281299.jpg" %}" alt="no pic"
                            style="width:518px;height:388px;margin:15">
                        <img src="{% static "media/P6211147.jpg" %}" alt="no pic"
                            style="width:518px;height:388px;margin:15">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next2" alt="next">
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container4">
                <div class="slider-outer4">
                    <img src="{% static "media/arrow-left.png" %}" class="prev4" alt="prev">
                    <div class="slider-inner4">
                        <img src="{% static "media/P6070369.jpg" %}" class="active4" alt="no pic"
                            style="width:388px;height:518px;">

                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next4" alt="next">
                </div>
                hhhhhh
            </div>
        </td>
        <td>
            <div class="container5">
                <div class="slider-outer5">
                    <img src="{% static "media/arrow-left.png" %}" class="prev5" alt="prev">
                    <div class="slider-inner5">
                        <img src="{% static "media/P6070369.jpg" %}" class="active5" alt="no pic"
                            style="width:388px;height:518px;">

                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next5" alt="next">
                </div>

            </div>
        </td>

    </tr>
</table>
yyyy
{% endblock %}