{% extends "base.html" %}
{% load static %}



{% block content %}
<div>


<img src= "{% static "media/P3011316.jpg" %}" alt="no pic" style="width:518px;height:388px;">
<p class="book">Big Ordo<br>
Chapter One <br>
When he woke the panic set in.  Knowing that only more sleep will quell, he made his way from the medicine cabinet
to the coffee and back. The realization of where he was what he'd done never leaves him.   They watch him carefully.  And years go by, nothing.  His complexity studies
continue as attempts to pull into the quadratic third and fourth norms fail.  A life's work a criminal offense.</p>
<p class="book"><br>Chapter Two

 <br>For a Sunday the room was unusually empty.  </p>
 <br>
 <br><p class="book">Chapter Three<br>
He's known Willy his entire life but hadn't seen him since the late 70's. Surprised Willy was out so early he questioned
the events that lead to his release.  Willy was agitated when asked and reached into his jacket pocket, withdrawing a letter
that would be the beginning of the newest studies on the limits of infinity.  Tne approach from the left as size increases determines
the next stagnation.  With this premise he tries to understand.  So he builds a model, determines assumptions, derives hypotheses.  They met at
the corner of 4th and 10th to discuss the quadratic.</p>
<br><p class="book">Chapter Four
<br>Everyday it was increasing and control costs were growing exponentially.  More and more paths, more and more decisions,
his work was important.
</p>
{% endblock %}
</div>
