<!DOCTYPE html>

{% load static %}

<html>

<head>
    <title>Joe Sevita</title>

    <link rel="stylesheet" href="{% static 'simplesocial/css/960_12_col.css'%}">
    <!-- <script src="{% static 'simplesocial/js/main.js' %}" type="text/javascript"></script> -->
    <style>
        * {
            font-family: Arial, Verdana, sans-serif;
            color: #573f27;
            text-align: center;
        }

        #nav,
        #feature,
        .article,
        .photog,
        #footer {

            background-color: #efefef;
            margin-top: 20px;
            padding: 10px 0px 5px 0px;


        }

        .article {
            height: 350px;
        }

        .photog {
            height: 350px;
        }

        #feature {
            height: 200px;
        }

        li {
            display: inline;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="container_12 clearfix">
        <div id="header" class="grid_12">
            <h2>JOE SEVITA</h2>
            <div id="nav">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'posts:create' %}">Post</a></li>
                    <li><a href="{% url 'groups:all' %}">Groups</a></li>
                    <li><a href="{% url 'groups:create' %}">Create Group</a></li>
                    <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                    {% else %}
                    <li><a href="{% url 'groups:all' %}">Groups</a></li>
                    <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                    <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="feature" class="grid_12">
            <p strong style="color:black;font-size: 110%;">Photography, Prose, Verse and Games</p>
            <p><em>"Erie" my first book is now underway.</em></p>
            <p>"And because the story has been told so often, it has taken root in every man’s mind. And, as
                with all retold tales that are in people’s hearts, there are only good and bad things and black and
                white
                things and good and evil things and no in-between anywhere."
                - Steinbeck "The Pearl"
            <p><br>Without deviation from the norm, progress is not possible. - Frank Zappa</p>
            </p>
        </div>
        <div class="photog grid_4">
            <a href="{% url 'photography:photos_all' %}" strong style="color:black">
                Photography</a>
            <!-- <div class="slider-outer">
                <img src="{% static "media/arrow-left.png" %}" class="prev" alt="prev"> -->
            <!-- <div class="slider-inner"> -->
            <br>
            <p>
                <img src="{% static "media/PA270105.jpg" %}" class="active" alt="no pic"
                    style="width:194px;height:256px;">
            </p>
            <!-- <img src="{% static "media/P2060261.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                </div> -->
            <!-- <img src="{% static "media/arrow-right.png" %}" class="next" alt="next"> -->
        </div>
        <div class="article grid_4">
            <a href="{% url 'books:books_all' %}" strong style="color:black">
                books</a>
            <p>Erie</p>
            <p><em>A ditch. They weren't wrong. Nothing like it was ever achieved. And I was in that ditch from the
                    beginning.</p></em>
            <p>It was only 4 feet deep and that was the wonder amongst most of us. It could carry 30 tons in 4 feet of
                water. </p>
            <br>Leaving my family behind was the hardest but the work was good, dangerous for sure, back then we had
            "black powder"
            dynamite a much more controlled and powerful explosion wasn't invented yet.
            <p>A movement. </p>
            <br>
            <p>For a Sunday the room was unusually empty. </p>
            </p>
        </div>
        <div class="article grid_4">
            <!--  -->
            Games and Utilities
        </div>
        <div id="footer" class="grid_12">
            <p>&copy; Copyright 2020</p>
        </div>
    </div><!-- .container_12 -->
</body>

</html>