{% extends "base.html" %}
{% load static %}




{% block content %}

<table>
    <tr>
        <td>
            <div class="container1">
                <div class="slider-outer">
                    <img src="{% static "media/arrow-left.png" %}" class="prev" alt="prev">
                    <div class="slider-inner">
                        <img src="{% static "media/P6070369.jpg" %}" class="active" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PA270105.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PC040174.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PB150274.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PB150070.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PA121058_1-1.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/P6070369.jpg" %}" alt="no pic" style="width:388px;height:518px;">

                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next" alt="next">
                </div>
                hhhhhh
            </div>
        </td>
        <td>
            <div class="container2">
                <div class="slider-outer2">
                    <img src="{% static "media/arrow-left.png" %}" class="prev2" alt="prev2">
                    <div class="slider-inner2">
                        <img src="{% static "media/P6070369.jpg" %}" class="active2" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next2" alt="next2">
                </div>

            </div>
        </td>
        <td>
            <div class="container3">
                <div class="slider-outer3">
                    <img src="{% static "media/arrow-left.png" %}" class="prev3" alt="prev3">
                    <div class="slider-inner3">
                        <img src="{% static "media/P6070369.jpg" %}" class="active3" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next3" alt="next3">
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container4">
                <div class="slider-outer">
                    <img src="{% static "media/arrow-left.png" %}" class="prev4" alt="prev4">
                    <div class="slider-inner4">
                        <img src="{% static "media/P6070369.jpg" %}" class="active4" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">

                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next4" alt="next4">
                </div>
                hhhhhh
            </div>
        </td>
        <td>
            <div class="container5">
                <div class="slider-outer5">
                    <img src="{% static "media/arrow-left.png" %}" class="prev5" alt="prev5">
                    <div class="slider-inner5">
                        <img src="{% static "media/P6070369.jpg" %}" class="active5" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PA270105.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PC040174.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PB150274.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/PB150070.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PA121058_1-1.jpg" %}" alt="no pic"
                            style="width:388px;height:518px;margin: 20px">
                        <img src="{% static "media/P6070369.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next5" alt="next5">
                </div>

            </div>
        </td>
        <td>
            <div class="container6">
                <div class="slider-outer6">
                    <img src="{% static "media/arrow-left.png" %}" class="prev6" alt="prev6">
                    <div class="slider-inner6">
                        <img src="{% static "media/P6070369.jpg" %}" class="active6" alt="no pic"
                            style="width:388px;height:518px;">
                        <img src="{% static "media/P4270067.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:388px;height:518px;">
                    </div>
                    <img src="{% static "media/arrow-right.png" %}" class="next6" alt="next6">
                </div>

            </div>
        </td>
    </tr>
</table>
yyyy
{% endblock %}